{% extends 'page.html.twig' %}

{# {% block breadcrumbsTitle %}Booking{% endblock %}#}

{# {% block breadcrumbsLinks %}#}
{#             <li><a href="{{ path('room_booking_engine_homepage') }}">Home</a></li>#}
{#             <li><a href="#">Booking</a></li>#}
{# {% endblock %}#}

{% block stylesheets %}
{% endblock %}

{% block body %}



  <section id="room">
    <div class="container">
    
    
    
     <!-- START CONTENT -->
                    <div class="row">
                    
                        <div id="content" class="col-md-12 col-sm-12 col-xs-12">
 							<p>Your booking has been completed successfully</p>
                           
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT --> 
    
    
    
    
    
    </div>
  </section>
  <!-- End Room -->

{% endblock %}