{% extends '::base.html.twig' %}

{% block stylesheets %}




{% endblock %}
{% block body %}
<section class="section clearfix">
	<!-- Container -->
	<div id="container">
<div id="content">
<div class="container">


	<div class="row">
	 <div class="col-md-10 center msg top-buffer2 bottom buffer2 ">
		<h3>{% trans %}Sorry!Your link has been expired{% endtrans %}</h3> 

		<p>Just Trip Team</p>
	</div>
	</div>

</div>
</div>
</div>
</section>
{% endblock %}